@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap');


:root {
    --bodyYT: #fffdfc;
    --compYT: #fffdfd;
    --compYT2: #fffffe;
    --bodyGry: hsl(0, 0%, 8%);
    --compGry: hsl(0, 0%, 12%);
    --compGry2: hsl(0, 0%, 20%);
    --bright:  hsl(75, 94%, 57%);
    --shadow:   rgba(0, 0, 0, 0.2);
}


html, body{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bodyYT);
    color: var(--bodyGry);
    font-size: 1.5rem;

}

.body-content-wrapper {
    width: clamp(32rem, 100vw, 37.5rem);
    margin-block: 0;
    margin-inline: auto;
    padding: calc(1rem + 1%);
    position: relative;
}


header {
    height: calc(6rem + 1vh);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background-color: var(--bodyYT);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(3rem + 1%);
    box-shadow: 0rem 0.01rem 1rem var(--shadow);

}

header a {
    text-decoration: none;
    color: var(--bodyGry);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: calc(3rem + 1%);
}

nav ul li {
    width: auto;

}

main {
    margin-block: calc(8rem + 1vh);

}


.heading, .profile-card {
    text-align: center;
}


section {
    margin-block: calc(8rem + 5vh);
}

.sec-title {
    font-weight: 500;
    font-size: 1.6rem;
}


.pictures img {
    width: 100%;
    border-radius: calc(0.8rem + 1%);
}

.socail-links-profile {
    background-color: var(--bodyGry);
    color: var(--bodyYT);
}


.profile-card {
    width: calc(100% - 8rem);
    margin-block: calc(5rem + 1vh);
    margin-inline: auto;
    background-color: var(--compGry);
    padding: 5%;
    border-radius:calc(0.2rem + 1%) ;
}

.user-avatar {
    width: calc(2rem + 20%);
    height: calc(2rem + 20%);
    border-radius: 50%;
    margin-block-start: calc(1rem + 4%);
}

.user-name {
    font-weight: 600;
    margin-block-end: 0;
}

.location {
    color: var(--bright);
    font-weight: 700;
}
 
.bio {
    font-weight: 400;
    margin-block-start: calc(2.5rem + 1vh);
    margin-block-end: calc(2.5rem + 1vh);
}

.social-links p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4rem);
    margin-block: 1.28rem;
    margin-inline: auto;
    height: calc(2.8rem + 1vh);
    background-color: var(--compGry2);
    padding: 1%;
    border-radius: 0.4rem;
}

.social-links p:active {
    background-color: var(--bright);
    
}

.social-links p:hover {
    transform: scale(1.02);
}

.social-links p:focus {
    border: 0.2rem solid var(--fifth-color);
}

.link {
    text-decoration: none;
    color: var(--bodyYT);
    font-weight: 700;
}

.link:active {
    color: var(--bodyGry); 
}
