@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Sonsie+One&display=swap');




:root {
    --bodyLit: #fffdfc;
    --colorLit: #48525c;
    --borderLit: hsla(0, 0%, 8%, 0.2);
    --compYT: #f0f0f0;
    --compYT2: #e0e0e0;

    --bodyDark: hsl(0, 0%, 8%);
    --colorDark: #fffdfc;
    --borderDark: rgba(255,255, 255, 0.2);
    --compGry: hsl(0, 0%, 12%);
    --compGry2: hsl(0, 0%, 20%);
    
    --bright: #DC143C;
    --bright2:  hsl(75, 94%, 57%);
    
}


html, body{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bodyDark);
    color: var(--colorDark);
    font-size: 1.5rem;
}

.body-content-wrapper {
    width: clamp(32rem, 95%, 37.5rem);
    margin-block: 0;
    padding: calc(1rem + 1%);
    position: relative;
}




header {
    height: calc(4.5rem + 1%);
    padding-block-start: calc(0.5rem + 1%);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background-color: var(--bodyDark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(4rem + 1%);
    border-block-end: 0.1rem solid var(--borderDark);

}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--colorDark);

}

header p {
    font-family: 'Sonsie One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* Navigation styles */
nav {
    display: none;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100vh;
    width: 80%;
    border-radius: 0 calc(0.6rem + 1%) calc(0.6rem + 1%) 0;
    background-color: var(--bodyDark); 
}

nav ul {
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: calc(1rem + 1%);
    list-style-type: none;
    gap: calc(2rem + 1%);
}



#close-btn {
    font-size: 2rem;
    position: absolute;
    inset-block-start: 1rem;
    inset-inline-end: 1rem;
}


.icon {
    width: 2rem;
    height: 2rem;
    fill: none;
    stroke: var(--bright);
    color: var(--bright);
    margin: 1rem;
}


main {
    margin-block: calc(8rem + 1vh);

}

.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.heading p {
    font-style: italic;
}


/* Heading animation styles */
/* .type-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-text {
    overflow: hidden;
    white-space: nowrap;
    border-inline-end: 0.24rem solid transparent;
    width: 100%;
    animation: 
    typing 3s steps(20, end) forwards,
    blinking 0.85s step-end 6;
}

@keyframes typing {
    from {width: 0; }
    to {width: 100%;}
}

@keyframes blinking {
    from, to {border-color: transparent; }
    50% {border-color: var(--bodyGry); }
} */


section {
    margin-block: calc(8rem + 5vh);
}

.sec-title {
    font-weight: 500;
    font-size: 1.6rem;
}

.quote {
    margin-block-start: calc(4rem + 1%);
 
}

.pictures img {
    width: 100%;
    border-radius: calc(0.8rem + 1%);
}

.img-container {
    width: calc(100% - 4rem);
    margin-inline: auto;
} 

.gallery-container {
    display: flex;
    gap: calc(0.1rem + 1%);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.gallery-item {
    flex-shrink: 0;
    scroll-snap-align: center;
    object-fit: cover;
}





/* Profile Card starts here */

.profile-card {
    text-align: center;
    width: calc(100% - 6rem);
    margin-block: calc(5rem + 1%);
    margin-inline: auto;
    background-color: var(--compGry);
    padding: 5%;
    border-radius:calc(0.2rem + 1%) ;
}

.user-avatar {
    width: calc(2rem + 20%);
    height: calc(2rem + 20%);
    border-radius: 50%;
    margin-block-start: calc(1rem + 4%);
}

.user-name {
    font-weight: 600;
    margin-block-end: 0;
}

.location {
    color: var(--bright);
    font-weight: 700;
}
 
.bio {
    font-weight: 400;
    margin-block-start: calc(2.5rem + 1vh);
    margin-block-end: calc(2.5rem + 1vh);
}

.social-links p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4rem);
    margin-block: 1.28rem;
    margin-inline: auto;
    height: calc(2.8rem + 1vh);
    background-color: var(--compGry2);
    padding: 1%;
    border-radius: 0.4rem;
}

.social-links p:active {
    background-color: var(--bright);
    color: var(--bodyLit);
    
}

.social-links p:hover {
    transform: scale(1.02);
}

 .social-links p:focus {
    border: 0.2rem solid var(--bright);
} 

.link {
    text-decoration: none;
    color: var(--bodyLit);
    font-weight: 700;
}


.attribution p{
    font-size: 1.1rem;
    text-align: center;
}